/filter/nbproject/private/
/filter/build/
/jsService/nbproject/private/
/jsService/build/
/angu/nbproject/private/
/Evidence/modiul7Idb/build/
/Evidence/modiul7Idb/dist/
/Evidence/modiul7Idb/nbproject/private/
/primeAndHibernateModule8/nbproject/private/
/primeAndHibernateModule8/build/
/primeAndHibernateModule8/dist/
/p&hibernatem08/nbproject/private/
/p&hibernatem08/build/